$light: #fff;
$primary-color: #027333;
// $primary-color:#e36955;
// $primary-color:#50bac3;
// $primary-color: #13b1cd;
$secondary-color: #012623;
$event-color: #025930;
$law-color: #38A640;
$black: #2a2a2a;
$border-color:#F2F2F2;
$primary-font: 'Bitter', serif;
$secondary-font:'Montserrat', sans-serif;
$extra-font:'Hind', serif;
